body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #606c71;
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

a {
    color: #1e6bb8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.btn {
    font-size: 0.8rem;
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3)
}

.btn+.btn {
    margin-left: 1rem
}


@media screen and (min-width: 64em) {
    .btn {
        padding: 0.5rem 0.8rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        padding: 0.75rem;
        font-size: 0.9rem
    }

    .btn+.btn {
        margin-top: 1rem;
        margin-left: 0
    }
}